<%= form_with url: clients_path, method: :get, local: true do |f|  %>
    <%= select_tag :filter, options_for_select(["Alphabetical", "Most-Recent"]), include_blank: true %>
    <%= submit_tag "Sort" %>
    <% end %>
<div class="client-wrapper horizontal-flex">
<% @clients.uniq.each do |client| %>

<div class="client-module">
    <h2><%= link_to client.name, client_path(client) %></h2>
    <h3><span class="label-tag">Total<br>Productions:</span><br><%= client.productions.count %></h3>
</div>

<% end %>
</div>