<h1><%= @client.name %></h1>
<h5><%= @client.contact %></h5>
<h5><%= @client.contact_email %></h5>



<p><%= link_to "Edit", edit_client_path(@client) %></p>
<p><%= link_to "Delete", edit_client_path(@client) %></p>

<% @client.productions.each do |production| %>

    <h5><%= production.title %></h5>
<% end %>

