<div class="client-wrapper horizontal-flex">
<p class="client"><%= @client.name %></p>
    <div class="vertical-flex client-info">   
        <p>Person to Contact: <%= @client.contact %>/<%= @client.contact_email %></p>




        <p><%= link_to "Edit", edit_client_path(@client) %></p>
        <p><%= link_to "Delete", @client, method: :delete %></p>

        <% @client.productions.each do |production| %>
            <h5><%= production.title %></h5>
        <% end %>
    </div>
</div>
