<h1>Home Page</h1>

<h1><%= link_to "+", new_production_path %></h1>

<%= link_to "Log In", '/login' %>
<% if !current_user %>
  <%= link_to "Log Out", '/logout', method: :delete %>
<% end %>
<%= link_to "Sign Up", '/signup' %>

<%# Add the Github login link here %>

<% if current_user %>
  <h1><%= current_user.name %></h1>
  <h2>Email: <%= current_user.email %></h2>
  <h2>Github UID: <%= current_user.uid %></h2>
<% else %>
  <%= link_to('Log in with Github!', '/auth/github') %>
<% end %>
