<h1>Home Page</h1>

<h1><%= link_to "+", new_production_path %></h1>

<%= link_to "Log In", '/login' %>
<%= link_to "Log Out", '/logout', method: :delete %>
<%= link_to "Sign Up", '/signup' %>

<%# Add the Github login link here %>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Github UID: <%= @user.uid %></h2>
<% else %>
  <%= link_to('Log in with Github!', '/auth/github') %>
<% end %>
