<!DOCTYPE html>
<html>
  <head>
    <title>ProductionApp</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>

  <% if !!flash[:errors] %>
    <% flash.keys.each do | type| %>
    <%= binding.pry %>
    <%= flash[type] %>
    <% end %>
    <% end %>
    <header>
    <div class="user-box">
    <%= "AGENT: #{current_user.name}" unless current_user.nil? %>
    <%= link_to("Log In", '/login') unless current_user%>
    <%= link_to("Log Out", '/logout', method: :delete) if current_user %>
    <%= link_to("Sign Up", '/signup') unless current_user %>
    </div>
      <nav>
      <%= link_to "Home", '/' %>
      <%= link_to "Clients", clients_path %>
      <%= link_to "Productions", productions_path %>
      <%= link_to "Producers", producers_path %>
      <%= link_to "About", '/about' %>
      </nav>
    </header>

      <div class="main-wrapper vertical-flex">
        <%= yield %>
      </div>

    </body>
  </html>
