<!DOCTYPE html>
<html>
  <head>
    <title>ProductionApp</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <% flash.keys.each do | type| %>
    <%= flash[type] %> 
    <% end %>
    <header>
    <%= "AGENT: #{current_user.name}" unless current_user.nil? %>
      <nav>
      <%= link_to "Home", '/' %>
      <%= link_to "Clients", clients_path %>
      <%= link_to "Productions", productions_path %>
      <%= link_to "Producers", producers_path %>
      <%= link_to "About", '/about' %>
      </nav>
    </header>

      <div class="main=wrapper">
        <%= yield %>
      </div>
      
    </body>
  </html>
