<!DOCTYPE html>
<html>
  <head>
    <title>ProductionApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.keys.each do | type| %>
<%= flash[type] %> 
<% end %>
  <header>
  AGENT: <%= current_user.name unless current_user.nil? %>
  </header>
  <nav>
  <%= link_to "Home", '/' %>
  <%= link_to "Clients", clients_path %>
  <%= link_to "Productions", productions_path %>
  <%= link_to "Producers", producers_path %>
  <%= link_to "About", '/about' %>
  </nav>
    <%= yield %>
  </body>
</html>
